.features {
  &__span {
    display: flex;
    justify-content: center;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 25px rgba($color-black, 0.2);
    padding: 2rem;
    white-space: nowrap;
  }

  &__wrapper {
    border-bottom: 2px solid $color-yellow-light;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
}
