.header {
  padding: 3rem 14.7rem 10rem;
  background-image: linear-gradient(
      15.11deg,
      #1c1b1e 18.87%,
      rgba(28, 27, 30, 0.66) 51.73%,
      rgba(28, 27, 30, 0.81) 90.79%
    ),
    url("images/header-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include respond(desktop) {
  }
  @include respond(tab-land) {
    padding: 7rem 12.5rem;
  }
  @include respond(tab-port) {
    padding: 5rem 9rem;
  }
  @include respond(phone) {
    padding: 5rem 4rem;
  }
}

.about {
  padding: 7rem 14.7rem 10rem;
  background-color: $color-background;
  @include respond(desktop) {
  }
  @include respond(tab-land) {
    padding: 7rem 12.5rem;
  }
  @include respond(tab-port) {
    padding: 5rem 9rem;
  }
  @include respond(phone) {
    padding: 5rem 4rem;
  }
}

.features {
  padding: 7rem 14.7rem 12rem;
  background-color: $color-background;
  @include respond(desktop) {
  }
  @include respond(tab-land) {
    padding: 7rem 12.5rem;
  }
  @include respond(tab-port) {
    padding: 5rem 9rem;
  }
  @include respond(phone) {
    padding: 5rem 4rem;
  }
}

.news {
  padding: 7rem 14.7rem 12rem;
  background-color: $color-background;
  @include respond(desktop) {
  }
  @include respond(tab-land) {
    padding: 7rem 12.5rem;
  }
  @include respond(tab-port) {
    padding: 5rem 9rem;
  }
  @include respond(phone) {
    padding: 5rem 4rem;
  }
}

.questions {
  padding: 7rem 14.7rem 12rem;
  background-image: linear-gradient(
      360deg,
      #1c1b1e 3.15%,
      rgba(28, 27, 30, 0.42) 56.66%,
      #1c1b1e 101.71%
    ),
    url("images/question.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  @include respond(desktop) {
  }
  @include respond(tab-land) {
    padding: 7rem 12.5rem;
  }
  @include respond(tab-port) {
    padding: 5rem 9rem;
  }
  @include respond(phone) {
    padding: 5rem 4rem;
  }
}

.work {
  padding: 7rem 16rem 12rem;
  background-color: $color-background;
  overflow: hidden;
  @include respond(desktop) {
  }
  @include respond(tab-land) {
    padding: 7rem 12.5rem;
  }
  @include respond(tab-port) {
    padding: 5rem 9rem;
  }
  @include respond(phone) {
    padding: 5rem 4rem;
  }
}

.team {
  padding: 0;
  background-color: $color-background;
  height: 85rem;
}

.services {
  padding: 7rem 14.7rem 5rem;
  background-color: $color-background;
  @include respond(desktop) {
  }
  @include respond(tab-land) {
    padding: 7rem 12.5rem;
  }
  @include respond(tab-port) {
    padding: 5rem 9rem;
  }
  @include respond(phone) {
    padding: 5rem 4rem;
  }
}

.other {
  padding: 7rem 14.7rem 8rem;
  background-color: $color-background;
  background-image: url("images/icon1.png");
  background-repeat: no-repeat;
  background-position: 80% 33%;
  @include respond(desktop) {
  }
  @include respond(tab-land) {
    padding: 7rem 12.5rem;
  }
  @include respond(tab-port) {
    padding: 5rem 9rem;
  }
  @include respond(phone) {
    padding: 5rem 4rem;
  }
}

.footer {
  padding: 7rem 14.7rem;
  background-color: #2c2c2c;
  @include respond(desktop) {
  }
  @include respond(tab-land) {
    padding: 7rem 12.5rem;
  }
  @include respond(tab-port) {
    padding: 5rem 9rem;
  }
  @include respond(phone) {
    padding: 5rem 4rem;
  }
}
